<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/homebanking/css/index.css">
    <link rel="stylesheet" href="/homebanking/css/contacto.css">
    <title>Contacto</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/homebanking/assets/index/comida.png" alt="icono_plato">
            <ul class="nav__ul">
                <li class="nav__li"><a href="/homebanking/views/index.jsp" target="_blank">Inicio</a></li>
                <li class="nav__li"><a href="/homebanking/views/index.jsp" target="_blank">Quienes  somos</a></li>
                <li class="nav__li"><a href="/homebanking/views/contacto.html">Contactanos</a></li>
                <li class="nav__li"><a href="/homebanking/views/menu.html" target="_blank">Menú </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="contacto">
            <h1>Comunicate con nosotros</h1>
            <p>Estamos atentos para responderte en el momento en que nos contactes</p>
        </div>
        <div class="cards">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Contacto</div>
                <div class="card-body">
                    <h5 class="card-title">Formas de comunicarte con nosotros</h5>
                    <p class="card-text">Puedes contactarte con nosotros a través de Whatsapp o por correo. <br> <b>Número:</b>  +54 911-3237-5435. <br> <b>Correo:</b> ocandovivas@gmail.com</p>
                </div>
            </div>
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Horarios</div>
                <div class="card-body">
                    <h5 class="card-title">Dias y horario</h5>
                    <p class="card-text">Abrimos nuestras puertas a la clientela de martes a sabado. <br> Estamos para ti en horario de <b>13:00 - 21:00</b> . <br>  Tambien estamos abiertos los dias feriados. </p>
                </div>
            </div>
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Eventos</div>
                <div class="card-body">
                    <h5 class="card-title">Disfruta con nosotros</h5>
                    <p class="card-text">Contamos con variedad de eventos y shows en vivo los fines de semana y feriado, para más información o reservar contactanos.</p>
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>