/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 20/12/2022, 22:17:11
    Author     : ocand
*/

label{
    font-weight: 700;
}

div .form-control{
    width: 30vw;
}
